@import '~scss_vars';
.text-primary{
	color: $-color-primary!important;
}
.text-success{
	color: $-color-success!important;
}
.text-danger{
	color: $-color-danger!important;
}
.icon-remove-circle:before {
	font-size: 28px;
	color: #D06D69;
}
.icon-add-circle:before {
	font-size: 28px;
	color: #87BFBC;
}
.el-label{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    background: #B5B5CD;
    border: 1px solid #B5B5CD;
    color: #fff;
    -webkit-appearance: none;
    text-align: center;
    outline: none;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 6px;
    font-size: 14px;
    border-radius: 8px;
    letter-spacing: 1px;
    &.el-label-light-green {
		background: #97C8A5;
		border-color: #97C8A5;
    }
    &.el-label-green {
		background: #87BFBC;
		border-color: #87BFBC;
    }
    &.el-label-blue {
	    background: #74AFC9;
	    border-color: #74AFC9;
	}
    &.el-label-purple {
	    background-color: #8684BC;
	    border-color: #8684BC;
	}
}
.el-question {
	.el-question-title {
	  	font-size: 0;
	    line-height: 22px;
		color: #4A4A4A;
		letter-spacing: 0.87px;
		line-height: 22px;
		padding: 10px 0;
	  	.current{
			display:inline-block;
			width: 30px;
			font-size: 14px;
			vertical-align: top;
	  	}
	  	.text{
	  		display:inline-block;
	  		width: calc(100% - 35px);
	  		font-size: 14px;
			vertical-align: top;
	  	}
	}
	.el-question-options {
	    padding: 10px;
	    .el-radio, .el-checkbox {
	        display: block;
	        margin: 10px 0;
	    }
	    &.mask {
	        position: relative;
	        &:after {
		        position: absolute;
		        content: '';
		        top: 0;
		        left: 0;
		        bottom: 0;
		        right: 0;
		        z-index: 2;
	        }
	    }
	}
	.el-radio-group, .el-checkbox-group{
		display: block;
	}
	.el-radio, .el-checkbox{
		border: 1px solid #B5B5CD;
	   	border-radius: 3px;
	   	font-size: 0;
	}
    .el-radio .order, .el-checkbox .order{
		position: absolute;
		top: 0;
		left: 0;
		width: 32px;
		bottom: 0;
	    font-size: 18px;
		line-height: 38px;
		text-align:center;
		color: $-color-primary;
		z-index: 999;
		background: #E7E7F0;
		border-radius: 3px 0 0 3px;
		border-right: 1px solid #B5B5CD;
	}
	.el-radio.is-checked, .el-checkbox.is-checked{
		border-color: #87BFBC;
	}
	.el-radio.is-checked .order, .el-checkbox.is-checked .order{
		color: $-color-white;
		background: #87BFBC;
		border-right-color: #87BFBC;
	}
	.el-radio .el-radio__label, .el-checkbox .el-checkbox__label{
		display: inline-block;
		width: calc(100% - 40px);
		white-space: normal;
		line-height: 20px;
		padding: 5px 10px;
		vertical-align: middle;
	}
}

.el-info {
  .el-info-content {
    padding: 10px 0;
  }
  margin-bottom: 10px;
}

/* 覆盖mint-ui的primary颜色，改为微信UI的绿色 */
$color-primary: #8684BC;

.mint-header {
  	background-color: #fff;
	box-shadow: 0 2px 4px 0 #B5B5CD;
	font-size: 18px;
	color: #4A4A4A;
	.mint-button-icon{
		.mintui{
			font-size:20px;
			color: $color-primary;
		}
	}
	.mint-header-button{
		&.is-left,&.is-right{
			font-size: 16px;
			color: #3C5398;
		}
	}
}
.mint-button:not(.is-disabled):active::after {
    opacity: .2 /* .6 */
}
.mint-button--primary {
	height: 28px;
    background-color: $color-primary;
    background-image: linear-gradient(-90deg, #AA84BC 0%, #8684BC 100%);
	box-shadow: 0 4px 6px 0 #B5B5CD;
	border-radius: 14px;
	font-size: 14px;
	&.plane{
		border-radius: 0;
		min-width: 60px;
		box-shadow: none;
	}
}
.mint-button--primary.is-plain {
    border: 1px solid $color-primary;
    color: $color-primary
}
.mint-badge.is-primary {
  background-color: $color-primary
}
.mint-switch-input:checked + .mint-switch-core {
  border-color: $color-primary;
  background-color: $color-primary;
}
.mint-navbar .mint-tab-item.is-selected {
  border-bottom: 3px solid $color-primary;
  color: $color-primary;
}
.mint-tabbar > .mint-tab-item.is-selected {
  color: $color-primary;
}
.mint-searchbar-cancel {
  color: $color-primary;
}
.mint-checkbox-input:checked + .mint-checkbox-core {
  background-color: $color-primary;
  border-color: $color-primary;
}
.mint-radio-input:checked + .mint-radio-core {
  background-color: $color-primary;
  border-color: $color-primary;
}
.mt-range-progress {
  background-color: $color-primary;
}
.mt-progress-progress {
  background-color: $color-primary;
}
.mint-msgbox-confirm {
  color: $color-primary;
}
.mint-msgbox-confirm:active {
  color: $color-primary;
}
.mint-datetime-action {
  color: $color-primary;
}
/*头部选项卡*/
.el-tabs.el-tabs--top{
	.el-tabs__header.is-top{
		margin: 0;
		box-shadow: 0 2px 4px 0 #B5B5CD;
		z-index: 1;
		.el-tabs__nav{
			min-width: 100%;
		}
	}
	&.tab-two{
		.el-tabs__item{
			width: 30%;
			margin: 0 10%;
			text-align: center;
			padding: 0;
			color: #4a4a4a;
			font-size: 17px;
			border: transparent solid 3px;
			border-width: 0 0 3px;
			&.is-active{
				color: #3C5398;
				border-bottom-color: #8684BC;
			}
		}
	}
}
/*左侧选项卡*/
.el-tabs.el-tabs--left{
	margin: 0;
	.el-tabs__header.is-left{
		border: 0;
		background: #E7E7F0;
		margin: 0;
		.el-tabs__nav{
			border: 0;
			.el-tabs__item{
				border: 0;
				height: 30px;
				line-height: 30px;
			    text-align: left;
				font-size: 12px;
				color: #4A4A4A;
				&.is-active{
					background: #fff;
					color: #3C5398;
				}
			}
		}
	}
}
.el-radio-group.tab-radio-group{
	display: block;
	.el-radio{
		display: block;
		width: 100%;
		margin: 0;
		padding-right: 10px;
		height: 30px;
		line-height: 18px;
		padding: 6px 10px 6px 0;
		.el-radio__label{
			float: left;
			max-width: calc(100% - 20px);
			white-space: normal;
			font-size: 12px;
		}
		&.is-checked{
			.el-radio__label{
				color: #3C5398;
			}
		}
		.el-radio__input{
			float: right;
			.el-radio__inner{
				width: 16px;
				height: 16px;
				border-color: transparent;
	    		background: transparent;
			}
			
			&.is-checked{
			.el-radio__inner{
				&:after{
					width: 16px;
					height: 16px;
					font-family:"iconfont" !important;
	    		    content: "\e631";
	    		    font-size: 18px;
					color: #8684BC;
				}
				
			}
				    
			}
		} 
	}
}

.main{
	margin: 40px 0 50px;
	.main-title{
		font-size: 12px;
		line-height: 28px;
		height: 28px;
		padding: 0 10px;
		color: $color-primary;
		background: #E7E7F0;
		&.black{
			color: #4A4A4A;
		}
	}
	.content{
		padding: 10px;
		min-height: 200px;
	}
}
/*考试列表*/
.section-list{
	&>li{
		position: relative;
		background: #FFFFFF;
		padding: 12px 10px 20px;
		box-shadow: 0 2px 6px 0 rgba(181,181,205,0.60);
		border-radius: 3px;
		margin-bottom: 10px;
		&>p{
			font-size: 16px;
			color: #4A4A4A;
			margin-bottom: 10px;
		}
		.time-down{
			display:inline-block;
			margin-top:2px;
			background: #E7E7F0;
			border-radius: 3px;
			font-size: 14px;
			padding: 0 10px;
			color: #8684BC;
			line-height: 24px;
			&>img{
				position:relative;
				top:2px;
				margin-right: 4px;
			}
			&>.time{
				color: #3C5398;
				margin-left: 4px;
			}
		}
		&>.flag{
			position: absolute;
			top:0;
			right:10px;
			background: url('/static/images/saw.png') left bottom repeat-x;
			&>span{
				display: block;
				border-radius: 4px 4px 0 0;
				font-size: 12px;
				padding: 4px;
				color: #FFF;
				background: #87BFBC;
				margin-bottom:5px;
			}
		}
	}
}

.display-box{
	box-shadow: 0 2px 6px 0 rgba(181,181,205,0.60);
	border-radius: 3px;
	ul{
		padding: 2px 10px;
		li{
			margin-left: 20px;
			position: relative;
			height: 40px;
			&>span{
				line-height: 40px;
				font-size: 14px;
				color: #3C5398;
			}
			&:before{
				position: absolute;
				left:-20px;
				top:15px;
				content:'';
				width: 10px;
				height: 10px;
				border-radius: 100%;
				border: 1px solid #B5B5CD;
				box-shadow: 0 1px 2px 0 #B5B5CD, inset 0 1px 3px 0 #B5B5CD;
			}
			& + li{
				border-top: 1px solid #B5B5CD;
			}
		}
	}
}

.footer-indicator{
	&.fixed{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999;
	}
	background: #FAFAFA;
	border-top: 1px solid #B5B5CD;
	.el-col{
		.el-button.plane{
			display: block;
			width: 100%;
			height: 40px;
			border-radius: 0;
			border: 0;
			background: #FAFAFA;
			font-size: 16px;
			color: #8684BC;
			letter-spacing: 1px;
			&.is-disabled{
				color: #c0c4cc;
			}
		}
		& + .el-col{
			.el-button.plane{
				position: relative;
				&:after{
					position: absolute;
					top: 5px;
					bottom: 5px;
					left: -0.5px;
					content: '';
					border-left: 1px solid #B5B5CD;
				}
			}
		}
	}
}

/*题卡*/
.question-serial{
	.question-num{
		padding: 10px;
		font-size: 0;
		&>li{
			display: inline-block;
			width: 20%;
			margin: 10px 0;
		}
	}
	.circle{
		width: 32px;
		height: 32px;
		border-radius: 100%;
		border-color: #B5B5CD;
		font-size: 18px;
		color: #8684BC;
		&.is-answerred{
			color: #fff;
			background: #87BFBC;
			border-color: #87BFBC;
		}
	}
}

/*search*/
.search-wrap{
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    .mint-header{
      	.el-row,.el-autocomplete{
        	width: 100%;
      	}
      	.el-input__prefix{
        	color:#8684BC;
      	}
      	.el-input__clear{
      		color:#8684BC;
      	}
      	.el-button{
        	font-size: 17px;
        	color: #3C5398;
      	}
    }
}
.el-autocomplete-suggestion.el-popper{
	width: 100%!important;
	top: 40px!important;
	left: 0!important;
	bottom: 0;
	box-shadow: none;
	margin:0;
	.el-scrollbar__wrap{
		border: 0;
		padding: 0;
		border-radius: 0;
		max-height:100%;
		height: 100%;
	}
	.popper__arrow{
		display:none;
	}
	li{
		font-size: 12px;
		&.highlighted{
		background: #E7E7F0;
		color: #3C5398;
	}
	}
}