@import '~scss_vars';
.text-primary{
	color: $-color-primary!important;
}
.text-success{
	color: $-color-success!important;
}
.text-danger{
	color: $-color-danger!important;
}
.icon-remove-circle:before {
	font-size: 28px;
	color: #D06D69;
}
.icon-add-circle:before {
	font-size: 28px;
	color: #87BFBC;
}
.el-label{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    background: #B5B5CD;
    border: 1px solid #B5B5CD;
    color: #fff;
    -webkit-appearance: none;
    text-align: center;
    outline: none;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 6px;
    font-size: 14px;
    border-radius: 8px;
    letter-spacing: 1px;
    &.el-label-light-green {
		background: #97C8A5;
		border-color: #97C8A5;
    }
    &.el-label-green {
		background: #87BFBC;
		border-color: #87BFBC;
    }
    &.el-label-blue {
	    background: #74AFC9;
	    border-color: #74AFC9;
	}
    &.el-label-purple {
	    background-color: #8684BC;
	    border-color: #8684BC;
	}
}

/* 覆盖mint-ui的primary颜色，改为微信UI的绿色 */
$color-primary: #8684BC;

.mint-header {
  	background-color: #fff;
	box-shadow: 0 2px 4px 0 #B5B5CD;
	font-size: 18px;
	color: #4A4A4A;
	.mint-button-icon{
		.mintui{
			font-size:20px;
			color: $color-primary;
		}
	}
}
.mint-button:not(.is-disabled):active::after {
    opacity: .2 /* .6 */
}
.mint-button--primary {
	height: 28px;
    background-color: $color-primary;
    background-image: linear-gradient(-90deg, #AA84BC 0%, #8684BC 100%);
	box-shadow: 0 4px 6px 0 #B5B5CD;
	border-radius: 14px;
	font-size: 14px;
}
.mint-button--primary.is-plain {
    border: 1px solid $color-primary;
    color: $color-primary
}
.mint-badge.is-primary {
  background-color: $color-primary
}
.mint-switch-input:checked + .mint-switch-core {
  border-color: $color-primary;
  background-color: $color-primary;
}
.mint-navbar .mint-tab-item.is-selected {
  border-bottom: 3px solid $color-primary;
  color: $color-primary;
}
.mint-tabbar > .mint-tab-item.is-selected {
  color: $color-primary;
}
.mint-searchbar-cancel {
  color: $color-primary;
}
.mint-checkbox-input:checked + .mint-checkbox-core {
  background-color: $color-primary;
  border-color: $color-primary;
}
.mint-radio-input:checked + .mint-radio-core {
  background-color: $color-primary;
  border-color: $color-primary;
}
.mt-range-progress {
  background-color: $color-primary;
}
.mt-progress-progress {
  background-color: $color-primary;
}
.mint-msgbox-confirm {
  color: $color-primary;
}
.mint-msgbox-confirm:active {
  color: $color-primary;
}
.mint-datetime-action {
  color: $color-primary;
}
/*考试列表*/
.section-list{
	&>li{
		position: relative;
		background: #FFFFFF;
		padding: 12px 10px 20px;
		box-shadow: 0 2px 6px 0 rgba(181,181,205,0.60);
		border-radius: 3px;
		margin-bottom: 10px;
		&>p{
			font-size: 16px;
			color: #4A4A4A;
			margin-bottom: 10px;
		}
		.time-down{
			display:inline-block;
			margin-top:2px;
			background: #E7E7F0;
			border-radius: 3px;
			font-size: 14px;
			padding: 0 10px;
			color: #8684BC;
			line-height: 24px;
			&>img{
				position:relative;
				top:2px;
				margin-right: 4px;
			}
			&>.time{
				color: #00233E;
				margin-left: 4px;
			}
		}
		&>.flag{
			position: absolute;
			top:0;
			right:10px;
			background: url('/static/images/saw.png') left bottom repeat-x;
			&>span{
				display: block;
				border-radius: 4px 4px 0 0;
				font-size: 12px;
				padding: 4px;
				color: #FFF;
				background: #87BFBC;
				margin-bottom:5px;
			}
		}
	}
}